html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.imaig {
  width: 40%;
}

.ma {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.m {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex: 1 1 auto;
}

.main {
  font-family: monospace;
  position: static;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px inset;
  border-color: black;
  box-shadow: 50px 50px 1000px pink;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5%;
}

#elen {
  font-size: 113%;
  border-style: double;
  border-color: pink;
  box-shadow: 0px 0px 20px pink;
}

.links {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;
}

#again {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ul {
  margin-bottom: 0;
}

li {
  padding-bottom: 5%;
  list-style-type: none;
  color: brown;
}

a {
  color: brown;
}

.heading_text {
  margin-left: 30%;
  font-size: 113%;
}

.about {
  width: 100%;
  margin-bottom: 5%;
}

#head_first_text {
  text-align: center;
  margin: 0;
}

#last_text {
  text-align: left;
  margin: 3%;
}

.alla{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

.text_about{
  padding-left: 3%;
}

.hard_skills{
  padding-left: 5%;
  padding-right: 15%;
}

.color_text{
  color: brown;
}

@media screen and (max-width: 500px) {
  .main {
    width: 75%;

  }
  .alla{
    flex-wrap: wrap;
  }
  
}
